<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index</title>
</head>
<body>
    {{body}}
    {{#if productsObj}}
        {{#each products}}
        <div class="product-name">
            <h2>{{name}}</h2>
            <h6>{{id}}</h6>
            <form action="/products/{{id}}" method="GET">
                <button type="submit">Visit</button>
            </form>
        </div>
        {{/each}}
        <div>
            <form action="/products/new" method="GET">
                <button type="submit">Add New Product</button>
            </form>
        </div>
    {{/if}}
    {{#if articlesObj}}
        {{#each articles}}
        <div class="article-name">
            <h2>{{title}}</h2>
        </div>
        <form action="/articles/{{urlTitle}}" method="GET">
            <button type="submit">Visit</button>
        </form>
        {{/each}}
        <div>
            <form action="/articles/new" method="GET">
                <button type="submit">Add New Article</button>
            </form>
        </div>
    {{/if}}
</body>
</html>

{{!-- title: String, body: String, author: String, urlTitle: String } --}}
