<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New</title>
</head>
<body>
  <div>
    <h1>{{_type}} Creator</h1>
  </div>
  <form action={{formAction}} method="POST">
    <div>
      <label for="nameTitle">{{nameTitleLabel}}: </label>
      <input type="text" id="nameTitle" name="nameTitle">
    </div>
    <div>
      <label for="priceAuthor">{{priceAuthorLabel}}: </label>
      <input type="text" id="priceAuthor" name="priceAuthor">
    </div>
    <div>
      <label for="inventoryBody">{{inventoryBodyLabel}}: </label>
      <input type="text" id="inventoryBody" name="inventoryBody">
    </div>
    <div class="button">
      <button type="submit">Add {{submitButtonText}}</button>
    </div>
  </form>
  <form action={{formAction}} method="GET">
    <div>
    <button type="submit">Go Back</button>
    </div>
    <p>{{body}}</p>
  </form>
</body>
</html>