<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
</head>
<body>
  <div>
    <h1>Article Editor</h1>
    <h6>{{urlTitle}}</h6>
  </div>
  <form action="/articles/{{title}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div>
      <label for="title">Title: </label>
      <input type="text" id="title" name="title" placeholder="{{title}}">
    </div>
    <div>
      <label for="author">Author: </label>
      <input type="text" id="author" name="author" placeholder="{{author}}">
    </div>
    <div>
      <label for="body">Body: </label>
      <input type="text" id="body" name="body" placeholder="{{body}}">
    </div>
    <div class="button">
      <button type="submit">Submit Changes</button>
    </div>
    <div>
      <a href="/articles">Go Back</a>
    </div>
  </form>
</body>
</html>