<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
</head>
<body>
  <div>
    <h1>Product Editor</h1>
    <h6>{{product.id}}</h6>
  </div>
  <form action="/products/{{product.id}}?_method=PUT" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" placeholder="{{product.name}}">
  </div>
  <div>
    <label for="price">Price: </label>
    <input type="text" id="price" name="price" placeholder="{{product.price}}">
  </div>
  <div>
    <label for="inventory">Inventory: </label>
    <input type="text" id="inventory" name="inventory" placeholder="{{product.inventory}}">
  </div>
  <div class="button">
    <button type="submit">Submit Changes</button>
    <p>{{message}}</p>
  </div>
  </form>
</body>
</html>